@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap');
@import './colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

// compontents
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.section {
    padding: 2em;
}

.section-title {
    text-align: center;
    font-size: 8rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #7c7530;
}





// nav
.nav {
    position: fixed;
    padding: 1em 0;
    width: 100%;
    // background-color: $main-color;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 10;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $second-color;
        transform: translateX(100%);
        transition: transform ease-in-out .3s;

        &.active {
            transform: translateX(0);
        }

        i {
            position: absolute;
            font-size: 30rem;
            opacity: 5%;
        }
    }

    &__menu-item {
        position: relative;
        margin: 0.1em 0;
        padding: 0.5em 1em;
        font-size: 2.5rem;
        font-weight: bold;
        list-style-type: none;
        letter-spacing: 0.2rem;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4.2rem;
        color: $logo-color;
        z-index: 1;
    }

    &__burger-btn {
        padding: 0.1em 0.4em;
        align-self: flex-end;
        font-size: 3rem;
        border: 1px solid transparent;
        background: none;
        color: #fff;
        z-index: 1;
    }
}

// media nav 992px
@media(min-width: 1100px) {
    .nav {
        padding: 0;
        
        &__box {
            flex-direction: row;
            justify-content: flex-start;
        }

        &__menu {
            position: relative;
            padding: 1.5em 0;
            width: 45%;
            height: 100%;
            flex-direction: row;
            justify-content: space-evenly;
            transform: translateX(0);
            background: transparent;

            i {
                display: none;
            }
        }

        &__menu-item {
            position: relative;
            padding: 0.4em 0.7em;
            font-size: 1.8rem;
            font-weight: lighter;

            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0.2rem;
                background-image: linear-gradient(to right, $logo-color, rgba(255, 255, 255, 0.1));
                left: 0;
                bottom: 0;
                transition: width ease-in-out .1s;
            }

            &:hover::before {
                width: 100%;
            }
        }

        &__burger-btn {
            display: none;
        }
    }
}
 
// header
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/header-image.jpg');
    background-position: -100px;
    background-size: cover;

    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
    }

    &__icon {
        font-size: 10rem;
        color: $logo-color;
        z-index: 1;
    }

    &__title {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 0.5em;
        font-size: 11rem;
        letter-spacing: 11px;
        font-weight: lighter;
        color: #fff;
        font-family: 'Cormorant Garamond', serif;
        text-transform: uppercase;
        z-index: 1;

        span {
            position: absolute;
            bottom: 0.1rem;
            font-size: 1.65rem;
            letter-spacing: 0;
            font-family: 'Montserrat', sans-serif;
            font-weight: lighter;
        }
    }
}

@media(min-width: 992px) {
    .header {
        background-position: center;

        &__icon {
            font-size: 13rem;
        }

        &__title {
            font-size: 14rem;

            span {
                font-size: 2rem;
            }
        }
    }
}


// section aboutus
.aboutus {
    &__content {
        margin: 5em 0;
        // background-color: green;

        &:first-child {
            margin-top: 0;
        }
    }

    &__subtitle {
        margin-bottom: 0.3em;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    &__text {
        text-align: center;
        font-size: 1.6rem;
    }

    &__image-box {
        margin-top: 3em;
    }

    &__image-box {
        margin: 0 auto;
        width: 90%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media(min-width: 768px) {
    .aboutus {
        &__image-box {
            width: 50%;
        }
    }
}

@media(min-width: 992px) {
    .aboutus {
        &__content {
            display: flex;
            justify-content: space-evenly;
            margin: 20em 0;
        }

        &__text-box {
            width: 40%;
        }

        &__subtitle {
            font-size: 2.9rem;
        }

        &__text {
            font-size: 1.7rem;
        }

        &__image-box {
            margin: 0;
            width: 30%;
        }
    }
}

